*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
    border-radius: 15px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(181, 212, 255);  
}
.login{
    font-size: x-large;
    font-weight: bolder; 
  
}
p{
    font-size: large;
    font-weight: bold;
    color:white;
}
.usernames{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: rgb(105, 198, 255);
}

.inputBar{
    border-radius: 15px;
    margin-right: 5px;
}
.header{
    border: 10px double black;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(105, 198, 255);
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.headline{
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(105, 198, 255);
}
.loginForm{
    border: 3px solid black;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: rgba(105, 198, 255, 0.907);;
}
.image{
    background-image: url(C:\Users\jessi\Desktop\HelpDesk.2\HelpTicketProject\HelpTicketProject\ClientApp\src\app\BG1.webp) ;
    background-size: cover;
}
