html{
background-color: gray;
}
body{
    background-color: rgb(140, 140, 140);
}
.nav-item{
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 5px;;
    background-color: rgba(105, 198, 255, 0.907); 
}
