
<p>Create New Ticket:</p><br><br>
<label for="userName">UserName:</label><input type="text" [(ngModel)]="userName" id="userName"><br><br>

<label for="email">Email:</label><input type="text" [(ngModel)]="email" id="email"><br><br>

<label for="ticketIssue">Issue:</label><input type="text" [(ngModel)]="ticketIssue" id="ticketIssue"><br><br>

<label for="ticketDetail">Details:</label><input type="text" [(ngModel)]="ticketDetail" id="ticketDetail" ><br><br>

<button (click)="AddTicket()">Add Ticket:</button>



