<div class="image">
<header class="header">Create Ticket:</header>
<div class="form">
<label for="userName" class="ticketInfo">UserName:</label><br><br><input type="text" [(ngModel)]="userName" id="userName" class="inputBar"><br><br>

<label for="email" class="ticketInfo">Email:</label><br><br><input type="text" [(ngModel)]="email" id="email" class="inputBar"><br><br>

<label for="ticketIssue" class="ticketInfo">Issue:</label><br><br><input type="text" [(ngModel)]="ticketIssue" id="ticketIssue" class="inputBar"><br><br>

<label for="ticketDetail" class="ticketInfo">Details:</label><br><br><input type="text" [(ngModel)]="ticketDetail" id="ticketDetail" class="inputBar"><br><br>
<button (click)="AddTicket()" class="button">Add Ticket:</button>
</div>
</div>



