*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.tixId{
    font-size: x-large;
    font-weight:500;
    text-decoration: underline;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(186, 255, 186);
    
}
.tixDiv{
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgb(161, 227, 161);;
}
.inputBar{
    border-radius: 15px;
}
.button{
    border: 10px double black;
    border-radius: 15px; 
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-right: 5px;
    background-color: rgb(186, 255, 186);
}
.button2{
    border: 10px double black;
    border-radius: 15px; 
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 500px;
    background-color: rgb(186, 255, 186);
}
p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
   
}
.header{
    border: 10px double black;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(138, 240, 142);
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;   
}
.image{
    background-image: url(C:\Users\jessi\Desktop\HelpDesk.2\HelpTicketProject\HelpTicketProject\ClientApp\src\app\BG1.webp) ;
    background-size: cover;
}
