<!-- Create a router for login here:-->
<header class="header">Welcome, Please choose from the following options:</header>
<button (click)="GetAllTickets()" class="button">Click to view Tickets</button><br><br>
<button (click)="DisplayForm()" class="button">Create A Ticket:</button><br><br>

<app-add-ticket *ngIf="showForm"></app-add-ticket>

<div class="tixDiv" *ngFor="let t of tickets; index as i">
    <p class="tixId" >Ticket ID: {{t.id}}</p>
    <p >Name: {{t.name}}</p>
    <p >Issue: {{t.ticketIssue}}</p>
    <div>
    <div *ngIf="t.canDisplay">
        <p >Email: {{t.email}}</p>
        <p >Details: {{t.ticketDetails}}</p>
        <p >Resolved by: {{t.resolvedBy}}</p>
        <br>
    </div>
    <br>
</div>
    <button (click)="GetTicketDetails(t.id)" class="button">View full details:</button>
    <button (click)="DeleteTicket(t.id )"class="button">Delete This Ticket:</button>
    <button [hidden]="currentUser != null" (click)="AddToFavorite(t.id)"class="button">Add To Favorites:</button>
